
:root {
  /* ===== Colors ===== */
  --color-primary: #162e64;
  
  --color-secondary: #b0bde1;

  --color-table-head: #415389;

  --color-table-head-text: rgb(209, 219, 224);

  --color-table-odd-rows: #c6d0d483;

  --color-table-even-rows: #5f88c586;

  --color-shadow: #cacdd8;

  --color-hover-odd-rows: #c6d0d4e1;

  --color-hover-even-rows: #5f88c54e;

  --color-active: #3528e7;

  --color-bg: #fafafc;
  --color-surface: #ffffff;

  --color-text: #1e293b;
  --color-text-muted: #64748b;

  --color-border: #e2e8f0;
  --color-danger: #dc2626;

  /* ===== Typography ===== */
  --font-primary: "Inter", sans-serif;

  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;

  /* ===== Spacing Scale ===== */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xlg: 3rem;

  /* ===== Radius ===== */
  --radius-sm: 4px;
  --radius-md: 8px;

  /* ===== Shadow ===== */
  --shadow-sm: 10px 10px 0 rgba(57, 47, 47, 0.1);

  --shadow-sm-active: 10px 10px 0 rgba(0, 0, 0, 0.1);
}
