
table {
    border-collapse: collapse;
    width: 100%;


    box-shadow:10px 10px 5px var(--color-shadow);
}

thead {
    background-color: var(--color-table-head);
    
}


 
th, td{
    text-align: left;
    padding: 4px;
    
}

th > button {
    color: var(--color-table-head-text);
}

tbody > tr {
    background-color: var(--color-table-odd-rows);
}

tbody > tr:nth-child(even) {
    background-color: var(--color-table-even-rows);
}

tbody > tr:nth-child(even):hover{
    background-color: var(--color-hover-even-rows);
}

tbody > tr:nth-child(odd):hover{
    background-color: var(--color-hover-odd-rows);
}